﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Bahij Nassim";
    src: url("Bahij_Nassim-Regular.eot?") format("eot"),
         url("Bahij_Nassim-Regular.woff") format("woff"),
         url("Bahij_Nassim-Regular.ttf") format("truetype"),
         url("Bahij_Nassim-Regular.svg#BahijNassim-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}