.tooltips {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: black;
    height: auto;
    border-radius: 10px 10px 0 0;
    text-align: right;
    padding: 5px 10px 40px 10px;
    margin-bottom: -33px;
}
.tooltip{
    font: 14px/15px "Bahij Nassim";
    color: white;
    width: 100%;
    padding: 3px 6px;
    cursor: pointer;
    background-color: unset;
    border: unset;
    text-align: right;
}
.tooltip + .tooltip{
    border-top: 1px solid #666666;
}