.messages {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    height: 70%;
    overflow-y: scroll;
    background-color: #F5F6F8FF
}
.messages::-webkit-scrollbar {
    width: 0;
}
.message-box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 15px 0 15px;
    direction: rtl;
}
.profile-box {
    display: inline-block;
    vertical-align: middle;
}
.avatar {
    width: 24px;
    height: 24px;
}
.user {
    margin: 0 5px;
    vertical-align: super;
    font-weight: 700;
}
.message {
    font: 14px/16px "Bahij Nassim";
    color: #161515;
    text-align: right;
    display: inline;
}