.header{
    display: flex;
    justify-content: space-between;
    background-color: #01A3F4FF;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    align-items: center;
}
.welcome{
    color: white;
    font: 18px/34px "Bahij Nassim";
    margin: 0;
}