.inputBox {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 2.5px;
    width: 100%;
    height: 40px;
    background-color: white;
    align-self: center;
    border: 1px solid #d5d1d1;
    border-radius: 10px;
    overflow: hidden;
}
.input {
    border: none;
    width: 87%;
    padding: 8px 12px 8px 3px;
    color: black;
    font-family: "Bahij Nassim";
    font-size: 13px;
    text-align: right;
    direction: rtl;
    outline: none;
}
.icon-send {
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    transform: rotate(250deg);
    background-color: white;
    border: none;
}
.icon-send:focus-visible, .icon-send svg:focus{
    outline: none!important;
}