.icon-message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #01A3F4FF;
    border-radius: 15px 15px 3px 15px;
    box-shadow: 0 0 4px 3px rgb(0 0 0 / 12%);
    cursor: pointer;
}